.App {
  text-align: center;
}

ul {
}

#standard-search {
  
  width: 22rem;
}



body {
  font-family: "PT Sans";
}

.Organisation-TextField {
  width: 50%;
}

.Organisation-VerticalSpace {
  margin-top: 30px;
  margin-bottom: 5%;
}
