<!-- Arbeidsmiljøportalen -->
<div class="blockquote" style="background: #faf5e9; border: groove; padding: 1em;">
<div class="container">
<div class="col-md-12">
<h2 id="Arbeidsmiljøportalen" class="header-anchor" tabindex="0">Verktøy for forbedring av eget arbeidsmiljø</h2>
</div>
<div class="col-md-3"><img src="/globalassets/hms-arbeid/hms-verktoy/amp.png" alt="Tegnet illustrasjon av mennesker som sitter i et møterom" width="200" height="200"></div>
<div class="col-md-9">
<div class="story-meta">
<p>Ønsker dere å forbedre eget arbeidsmiljø og redusere arbeidsrelatert sykefravær? Lag en handlingsplan som er tilpasset akkurat deres arbeidsplass.</p>
<a class="button-large button-large--green" style="max-width: 22em; background: #fd8; border: solid; border-color: #555; border-width: 1px;" href="https://arbeidsmiljoportalen.no"> <span class="span">Gå til arbeidsmiljoportalen.no</span> </a></div>
</div>
</div>
</div>
<!-- Risikohjelpen -->
<div class="blockquote">
    <div class="container">
        <div class="col-md-12">
            <h2 id="Risikohjelpen" class="header-anchor" tabindex="0">Verktøy for risikovurdering</h2>
        </div>
            <div class="col-md-3">
                <img src="/globalassets/hms-arbeid/risikohjelpen-hvit.png" alt="Tegnet illustrasjon som viser en mann som snubler i verktøy." width="200" height="174">
            </div>
                <div class="col-md-9">
                    <div class="story-meta">
                        <p>Risikohjelpen er eit digitalt verktøy for risikovurdering i bransjane frisør, reinhald, transport og servering. Her kan de vurdere vanlege risikofaktorar på jobben og få handlingsplan med forslag til tiltak de kan gjere.</p>
                            <a class="button-large button-large--green" style="max-width: 22em;" href="https://risikohjelpen.arbeidstilsynet.no/"> <span class="span">Gå til risikohjelpen.no</span> </a>
                    </div>
                </div>
    </div>
</div>