
p {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}
.ws1 {
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
}
.ws2 {
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}


.ibm {
  font-size: 1em;
  font-family: 'IBM Plex', sans-serif;
}

/* button.secondary {
background-color: rgb(4, 103, 70);

} */